<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HETIC awesome chat</title>
</head>
<body>
    <header>
        <h1>HETIC awesome chat</h1>
    </header>

    <main>
        <h2>Chat</h2>
        <nav>
            <a href="/">Homepage</a>
            <a href="./register">Register</a>
            <a href="./login">Login</a>
            <a href="./chat">Chat</a>
        </nav>
    </main>

    <footer>
        <p>Sébastien Cosneau</p>
    </footer>
</body>
</html>